*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; margin: 0px; padding: 0px;}.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,div,ul{display:block;box-sizing:border-box}audio,canvas,video{display:inline;zoom:1}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif;color:#222}body{font-size:1em;line-height:1;margin:0}p{padding:7px 0 0}h1,h2,h3,h4,h5,h6{text-decoration:none;color:#266e9e;font-family:HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-weight:700;margin:0;padding:0}h2,h3,h4,h5,h6{color:#266e9e}a{color:#266e9e;text-decoration:none}a:focus{outline:0}a:hover,a:active{outline:0;color:#d31245}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}.clear{clear:both}dfn{font-style:italic}hr{display:block;height:1px;border:0;border-top:1px solid #CCC;margin:1em 0;padding:0}ins{background:#FF9;color:#000;text-decoration:none}mark{background:#FF0;color:#000;font-style:italic;font-weight:700}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:none}small{font-size:90%}blockquote{background-color:#EEE;border:1px solid #DDD;border-radius:3px;margin:10px 0;padding:10px 30px}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}ul{list-style:none;margin:0;padding:0}ol{margin:15px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}svg:not(:root){overflow:hidden}fieldset{border:0;margin:0;padding:0}label{cursor:pointer}legend{border:0;margin-left:-7px;white-space:normal;padding:0}button,input,select,textarea{font-size:100%;vertical-align:middle;margin:0}button,input{line-height:normal}button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:none;overflow:visible}button[disabled],input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;width:13px;height:13px;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top;resize:vertical}input:invalid,textarea:invalid{background-color:#F0DDDD}table{border-collapse:collapse;border-spacing:0}td{vertical-align:top}* html .clearfix,:first-child+html .clearfix{zoom:1}audio:not([controls]),[hidden],.hide,.hidden{display:none}figure,form{margin:0}img, a img{ border:0px;}


.inner {
  width: 1000px; /* -- change to match static width --*/
  margin: 0 auto;
}

body {
  background-color: #f0f0f0;
	font-family: 'Fanwood Text',serif;
}

#header-bg-int{
	background-image:url('../images/header-bg.jpg');
	background-position:center top;
	background-repeat:repeat-x;
	margin-top:-119px;
	}
#page-wrapper {

}


#nav-wrapper {
    width: 100%;
    background-image: url('../images/nav-repeater.png');
    height: 114px;
    background-repeat: repeat-x;
    position: relative;
    z-index: 2;
}
#nav {
    width: 1000px;
    height: 119px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}
#logo {
    margin-left: 12px;
    float: left;
    width: 118px;
    height: 85px;
}
#nav ul {
    float: right;
    margin-top: 45px;
    margin-right: 8px;
}
#nav ul li {
    display: inline
}
#nav ul li a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 23px;
}

#nav ul li a:hover{
	color:#fff;}

#nav ul li a:active{
	color:#000;}

#footer ul li a:hover{
	color:#fff;}
	
#nav ul li a.on{
	color:red;}

#header-bg {
    background-image: url('../images/header-bg.jpg');
    background-position: center top;
    height: 549px;
    margin-top: -119px;
    position: relative;
    z-index: 1;
    min-width: 1000px;
}
#slider-wrapper {
    height: 414px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    padding-top: 112px;
    width: 1000px;
}

#three-column-callouts {
    margin-top: 30px;
}

.one-third {
  float: left;
  width: 32%;
}

#column1 {
}

	
#column2 {
  margin: 0 20px;
}

#column3 {
}

#one-column-content{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	}
	
#footer-container {
    width: 100%;
    background-image: url('../images/nav-repeater.png');
    height: 100px;
    margin-top: 20px;
}
#footer {
    padding-top: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#footer img {
    float: left
}
#footer ul {
    float: left;
    margin-left: 18px;
    margin-top: 7px;
}
#footer ul li {
    margin-top: 10px;
    display: inline;
    margin-right: 10px;
}
#footer ul li a {
    font-family: 'Oswald',sans-serif;
    color: #50412d;
    text-decoration: none;
    text-transform: uppercase;
}

#header-img-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    padding-top: 112px;
    width: 1000px;
}	
#int-content{

	width:1000px;
	margin-left:auto;
	margin-right:auto;}
	
#main-int-copy{
		float:left;
	width:622px;}

#main-int-copy a{
	text-decoration:none;
	color: #50412D;}
	
#main-int-copy a:hover{
	text-decoration:underline;}	
	
#main-int-copy h1{
	 font-family: 'Oswald',sans-serif;
	
	color:#50412d;
	font-weight:400;
	margin-top:20px;
	margin-bottom:10px;
	font-size:28px;
	text-decoration:underline;
	}
#main-int-copy h2{
	 font-family: 'Oswald',sans-serif;
	font-size:21px;
	color:#50412d;
	font-weight:400;
	margin-top:20px;
	margin-bottom:10px;
	}
#sidebar {
    float: left;
    margin-left: 39px;
    margin-top: 67px;
}
#available-properties a{
	background-image:url('../images/sidebar-img1.jpg');
	display:block;
	width:285px;
	height:131px;
	}
#sidebar-locations{
	
	margin-top:20px;}
	
#sidebar-locations a{
	background-image:url('../images/sidebar-img2.jpg');
	display:block;
	width:285px;
	height:131px;
	}
#header-int {
	
    background-image: url("../images/int-header-bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    height: 112px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -28px;

    position: relative;
    width: 893px;
}	
#header-int h1 {
    color: #F5F0E9;
    font-family: 'Oswald',sans-serif;
    font-size: 67px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
#header-int-container {
    height: 108px;
    margin-left: auto;
    margin-right: auto;
    width: 783px;
}
.rssBody{
	/*padding-top:59px;*/}
	
.rssBody a{
	font-family: 'Oswald',sans-serif;
	text-decoration:none;
	font-size:21px;
	color: #50412D;
	}
	.rssBody li{
		margin-bottom:20px;
		list-style-type:none;}
		
	.rssBody li div{
		font-family: 'Oswald',sans-serif;
		font-size:12px;}
.rssHeader{
	display:none;}
	
	
#latest-news-feed .rssBody{
	padding-top:0px;}
	
#latest-news-feed .rssBody a{
	font-family: 'Oswald',sans-serif;
	text-decoration:none;
	font-size:21px;
	color: #50412D;
	display:none;
	}
	#latest-news-feed .rssBody li{
		margin-bottom:20px;
		list-style-type:none;}
		
	#latest-news-feed .rssBody li div {
    color: #0084A0;
    float: left;
    font-family: 'Oswald',sans-serif;
    font-size: 18px;
    height: 25px;
    overflow: hidden;
    padding-top: 0;
    width: 86px;
}

#latest-news-feed .rssBody li p {
	padding-top:7px;
    
}
#latest-news-feed .rssHeader{
	display:none;}	


#content table {
	font-size: 13px;
	color: #666666;
	padding-bottom: 50px;
}

#content table tr.even {
	background-color: #b0b7c1;
	color: #ffffff;
}

#content table tr.odd {
	color: #666666;
}

#content table td {
	width: 50%;
	padding: 10px;
}

#content table td.firsttd {
	font-weight: bold;
}

/*** Property Table ****/

#content table.aprop {
	width: 677px;
}

#content table.aprop tr.even {
	background-color: transparent;
	color: #ffffff;
}

#content table.aprop tr.odd {
	color: #006699;
}

#content table.aprop td {
	width: auto;
	padding:0 0 25px 0;
	color: #006699;
}

#content table.aprop td.firsttd {
	font-weight: bold;
	padding-right: 10px;
	width: 524px;
}

#content table.aprop .prop-header {
	display: block;
	background-color: #d7dfe4;
	padding: 20px;
}


/**********************/

/*** PDF Table ****/

#content table.pdf-tbl {
	width: 636px;
	margin-top: 20px;
}

#content table.pdf-tbl tr.even {
	background-color: #d7dfe4;
}

#content table.pdf-tbl tr.odd {
	color: #006699;
	height: 20px;
	background-color: #50412D;
}

#content table.pdf-tbl td {
	width: auto;
	padding:7px;
	color: #fff;
}

#content table.aprop td.firsttd {
	font-weight: bold;
	padding-right: 10px;
	/*width: 524px;*/
}

#content table.pdf-tbl .pdf-header {
	font-family: 'Oswald',sans-serif;
	  font-weight: 300;
	display: block;
	background-color: #50412D;
	/*padding: 20px;*/
	
}

#content table.pdf-tbl img {
	width: 114px;
	height: 56px;
	border: 1px solid #ffffff;
	background-color: #d7dfe4;
}


/**********************/


/****** Demographics *****/

.demo-container {
/*	padding-bottom: 25px;*/
}

.demo-container p{
	font-size: 0;
	line-height: 0;
	padding: 0;
}

.demo-header {
	color: #376d94;
	font-size: 16px;
	text-transform: uppercase;
	padding: 15px 0 	15px 27px;
	display: block;
	line-height: 0;
}

.demo-box-left-container {
	float: left;
	width: 325px;
	
}

.demo-box-left {
	height: 198px;
	width: 325px;
	
	background-color: #d7dfe4;
	margin-bottom: 25px;
}

.demo-box-right {
	/*height: 198px;*/
	width: 325px;
	float: right;
	background-color: #d7dfe4;
}

#content table.demo-tbl {
	width: 277px;
	margin: 0 auto;
	color: #333333;
	padding-bottom: 32px;
	padding-top: 15px;
}

#content table.demo-tbl td{
	padding: 9px;
}

#content table.demo-tbl tr.even {
	background-color: #ffffff;
	color: #333333;
}

#content table.demo-tbl tr.odd {
	color: #333333;
	
}

#content table.demo-tbl td {
	width: auto;
	color: #333333;
}

#content table.demo-tbl td.firsttd {
	font-weight: normal;
	padding-right: 10px;
	width: 50%;
}

#content table.demo-tbl td.secondtd {
	text-align: center;
	font-weight: bold;
	color: #0b4268;
}





/**************************/	
	a.pdf {
    background-image: url("../images/download-pdf.png");
    background-position: center top;
    background-repeat: no-repeat;
    border: medium none;
    display: block;
    height: 45px;
    outline: medium none;
    text-decoration: none;
    text-indent: -9999px;
    width: 143px;
}

.pullquote{
	font-style:italic;
	color: #50412D;
	font-size:18px;
	text-align:center;
	line-height:150%;}
	
.pullquote2{
	font-style:italic;
	color: #50412D;
	font-size:14px;
	text-align:center;
	line-height:150%;}
.clear {
    clear: both
}

